<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarsen D'Artois | Blogs</title>
    <link rel="stylesheet" href="./static/styles/styles.css">
    <link rel="stylesheet" href="./static/styles/styles2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;1000&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header class="container active">
    <div class="blogs-content">
        <div class="main-title">
            <h2>My <span>Blogs</span></h2>
        </div>
        <div class="blogs">
            <div class="blog">
                <img src="./static/img/Coming_Soon.002.png" alt="Coming_Soon.002">
                <div class="blog-text">
                    <h4>
                        How to become a Python developer?
                    </h4>
                </div>
            </div>
            <div class="blog">
                <img src="./static/img/Coming_Soon.001.png" alt="Coming_Soon.001">
                <div class="blog-text">
                    <h4>
                        Why Blender is the best 3d software?
                    </h4>
                </div>
            </div>
            <div class="blog">
                <img src="./static/img/Coming_Soon.002.png" alt="Coming_Soon.002">
                <div class="blog-text">
                    <h4>
                        How To Become a Successful Freelancer?
                    </h4>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="controls">
    <div><a href="./index.html" class="control">
        <i class="fas fa-home"></i></a>
    </div>
    <div><a href="./about.html" class="control">
        <i class="fas fa-user"></i></a>
    </div>
    <div><a href="./portfolio.html" class="control">
        <i class="fas fa-briefcase"></i></a>
    </div>
    <div><a href="./gallery.html" class="control">
        <i class="fas fa-image"></i></a>
    </div>
    <div><a href="./blogs.html" class="control active-btn">
        <i class="far fa-newspaper"></i></a>
    </div>
    <div><a href="./contact.html" class="control">
        <i class="fas fa-envelope-open"></i></a>
    </div>
</div>
<div class="theme-btn">
    <i class="fas fa-adjust"></i>
</div>
<script src="./static/app.js"></script>
<script src="./static/app2.js"></script>
</body>
</html>