<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarsen D'Artois | Portfolio</title>
    <link rel="stylesheet" href="./static/styles/styles.css">
    <link rel="stylesheet" href="./static/styles/styles2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;1000&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header class="container active">
        <div class="main-title">
            <h2>My <span>Portfolio</span></h2>
        </div>
        <div class="portfolios">
            <div class="portfolio-item">
                <div class="image">
                    <img src="./static/img/blendpy_logo_socket.png" alt="Blendpy Logo">
                    <h3>Blender: Blendpy Logo</h3>
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="https://www.artstation.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-artstation"></i>
                        </a>
                    </div>
                    <br>
                    <h3>Become my patreon</h3>
                    <div class="icons">
                        <a href="https://www.patreon.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="./static/img/JPG_to_PNG.png" alt="JPG to PNG">
                    <h3>Python: JPG to PNG</h3>
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="https://github.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <br>
                    <h3>Become my patreon</h3>
                    <div class="icons">
                        <a href="https://www.patreon.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="./static/img/Blendpy_Coming_Soon.png" alt="Blendpy Coming Soon">
                    <h3>Blender: Blendpy Coming Soon</h3>
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="https://www.youtube.com/@blendpy" target="_blank" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                    <br>
                    <h3>Become my patreon</h3>
                    <div class="icons">
                        <a href="https://www.patreon.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="./static/img/img_resize.png" alt="Image Resizer">
                    <h3>Python: Image Resizer</h3>
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="https://github.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <br>
                    <h3>Become my patreon</h3>
                    <div class="icons">
                        <a href="https://www.patreon.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="./static/img/Blendpy_Logo_Reveal_Animation.png" alt="Logo Reveal Animation">
                    <h3>Blender: Logo Reveal Animation</h3>
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="https://www.youtube.com/@blendpy" target="_blank" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                    <br>
                    <h3>Become my patreon</h3>
                    <div class="icons">
                        <a href="https://www.patreon.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="./static/img/pdf_watermarker.png" alt="PDF Watermarker">
                    <h3>Python: PDF Watermarker</h3>
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="https://github.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <br>
                    <h3>Become my patreon</h3>
                    <div class="icons">
                        <a href="https://www.patreon.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="./static/img/Guitar_Collection_Night.png" alt="Guitar Collection">
                    <h3>Blender: Guitar Collection</h3>
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="https://www.youtube.com/@blendpy" target="_blank" class="icon">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                    <br>
                    <h3>Become my patreon</h3>
                    <div class="icons">
                        <a href="https://www.patreon.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="image">
                    <img src="./static/img/Coming_Soon.002.png" alt="Web Development">
                    <h3>Python: Web Development</h3>
                </div>
                <div class="hover-items">
                    <h3>Project Source</h3>
                    <div class="icons">
                        <a href="https://github.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <br>
                    <h3>Become my patreon</h3>
                    <div class="icons">
                        <a href="https://www.patreon.com/clarsendartois" target="_blank" class="icon">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</header>
<div class="controls">
    <div><a href="./index.html" class="control">
        <i class="fas fa-home"></i></a>
    </div>
    <div><a href="./about.html" class="control">
        <i class="fas fa-user"></i></a>
    </div>
    <div><a href="./portfolio.html" class="control active-btn">
        <i class="fas fa-briefcase"></i></a>
    </div>
    <div><a href="./gallery.html" class="control">
        <i class="fas fa-image"></i></a>
    </div>
    <div><a href="./blogs.html" class="control">
        <i class="far fa-newspaper"></i></a>
    </div>
    <div><a href="./contact.html" class="control">
        <i class="fas fa-envelope-open"></i></a>
    </div>
</div>
<div class="theme-btn">
    <i class="fas fa-adjust"></i>
</div>
<script src="./static/app.js"></script>
<script src="./static/app2.js"></script>
</body>
</html>
